<h1><marquee>Welcome to My Page</marquee></h1>
<p>Find me in app/views/pages/info.html.erb</p>
<p>My name is Maria
</p>
<p>I am learning how to code
</p>
<p>Listing My Ideas is my first Ruby On Rails App
</p>
<img src="//lh4.googleusercontent.com/-lrM8ALg0N3E/Uv4xLDdZOII/AAAAAAAAOEE/uaP7dQCzzu4/w195-h260-no/IMG_20140209_172121.jpg">